<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Article</title>
</head>
<body>
    <center>
        <article>
            <table width="50%">
                <tbody align="left">
                    <tr>
                        <td>
                            <header>
                                <h1 id="id-article-title">Placeholder Title</h1>
                                <aside id="idArticleDate">
                                    2005/01/01
                                </aside>
                            </header>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr width="50%">
            <img id="id-article-img" src="https://i.pinimg.com/736x/bb/ea/9f/bbea9f8b4722b3705bc9665bd2e11236.jpg"
            alt="Lil Probe'Inn">
            <hr width="50%">
            <table width="50%">
                <tbody align="justify">
                    <tr>
                        <td>
                            <p id="id-article-body" align="justify">Lorem ipsum, dolor sit amet consectetur
                                adipisicing
                                elit.
                                Architecto, blanditiis error dignissimos beatae deleniti ducimus. Obcaecati eveniet aut
                                saepe sequi,
                                est,
                                earum porro quo modi velit mollitia totam eos numquam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat eum sequi odio tempora quas soluta quo debitis modi aspernatur, ratione repellat voluptate possimus saepe quidem, nobis suscipit cumque, impedit esse. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident ipsam voluptatem doloremque nulla, voluptate perspiciatis magnam odio, sint alias eum itaque expedita necessitatibus ab velit totam labore facilis corrupti repudiandae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit dolorum quas cupiditate consequatur doloribus ea sapiente eligendi molestias neque. Iure sit illum commodi repellendus. Dicta quae atque officiis delectus itaque.</p>
                        </td>
                    </tr>
                </tbody>

            </table>
            <hr width="50%">
        </article>
    </center>
</body>

</html>